<div class="space-y-4 overflow-auto h-screen" data-controller="calendar" data-calendar-current-week-value="week_<%= @current_week %>">
  <%= link_to "Previous page", calendar_index_path(date: @prev_page), data: {controller: "autoclick", calendar_target: "prevlink"}, class: "hidden1" %>
  <% @weeks.each do |week_start| %>
    <%= render 'calendar/week', week_start: %>
  <% end %>
</div>
