<div id="<%= dom_id event %>" class="border">
  <p>
    <%= link_to event.name, event %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= event.location %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= event.start_date %>
  </p>
</div>
