<%= turbo_frame_tag :calendar, target: '_top' do %>
  <%#= turbo_frame_tag :calendar, src: calendar_path(date: @last_week_date), loading: :lazy %>
  <div class="grid grid-cols-7 h-96">
    <% days_of_week(@date).each do |day| %>
      <div class="border">
        <%= day %>
        <% @events.where(start_date: day.all_day).each do |event| %>
          <%= render 'event', event: %>
        <% end %>
      </div>
    <% end %>
  </div>
  <hr>
  <%#= turbo_frame_tag :calendar, src: calendar_path(date: @next_week_date), data: { turbo_action: 'advance' }, loading: :lazy %>
  <%= turbo_frame_tag :calendar, src: calendar_path(date: @next_week_date), loading: :lazy, target: '_top' %>
<% end %>